/* styles.css */
@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    font-family: sans-serif, "游ゴシック体", YuGothic, "游ゴシック";
}

h1{
    font-family:Helvetica,Arial,"ヒラギノ角ゴ Pro W3";
    text-align: center;
    background-color: rgb(0,34,126)
    line-height: 36px;
}

h1::before {
    content: "";
    display: inline-block;
    width: 20px; /* 四角の幅 */
    height: 20px; /* 四角の高さ */
    background-color: blue; /* 四角の色 */
    margin-right: 10px; /* 四角と見出しの間のスペース */
    vertical-align: middle; /* 見出しと四角を垂直に中央揃え */
}

/* 他の見出しにも適用する場合 */
h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "";
    display: inline-block;
    width: 15px; /* 四角の幅 */
    height: 15px; /* 四角の高さ */
    background-color: blue; /* 四角の色 */
    margin-right: 8px; /* 四角と見出しの間のスペース */
    vertical-align: middle; /* 見出しと四角を垂直に中央揃え */
}

a:active{
    color: #00cc33; /* クリックした時のリンク色 */
    text-decoration: underline; /* アンダーライン有り */
}
